<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img class="logo" src="css\images\download.png" alt="MyWays_logo">
    <h1 class="display-3">MyWays</h1>
    <p class="lead">Daily Blogs to feed your curiosity.</p>
    <hr>
    <a class="btn-1 btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn-2 btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
