<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <img class="logo" src="css\images\download.png" alt="MyWays_logo">
    <h1 class="display-3">Blogs</h1>

    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"> <%= user.secret %> </p>
    <% }) %>
    <hr>
    <a class="btn-1 btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn-2 btn btn-dark btn-lg" href="/submit" role="button">Submit/Edit/Delete</a>
  </div>
</div>

<%- include('partials/footer') %>