<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img class="logo" src="css\images\download.png" alt="MyWays_logo">
    <h1 class="display-3">MyWays</h1>
    <p class="lead">You are not Autherized to post blogs.</p>
    <hr>
    <a class="btn-1 btn btn-light btn-lg" href="/secrets" role="button">Blogs</a>

  </div>
</div>

<%- include('partials/footer') %>
